
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isAdmin(userId) {
      return exists(/databases/$(database)/documents/privates/$(userId));
    }

    // Public collections that anyone can read
    match /showcase/{showcaseId} {
      allow read, list: if true;
      allow write: if request.auth != null && isAdmin(request.auth.uid);
    }
    match /courses/{courseId} {
      allow read: if true;
      allow write: if request.auth != null && isAdmin(request.auth.uid);
    }
     match /skills/{skillId} {
      allow read: if true;
      allow write: if request.auth != null && isAdmin(request.auth.uid);
    }
    match /hardware/{hardwareId} {
      allow read: if true;
      allow write: if request.auth != null && isAdmin(request.auth.uid);
    }
    match /settings/{docId} {
      allow read: if true;
      allow write: if request.auth != null && isAdmin(request.auth.uid);
    }
    
    // Sub-collections with specific read access for enrolled users
    match /courses/{courseId}/classDetails/details {
      allow get: if (request.auth != null && exists(/databases/$(database)/documents/users/$(request.auth.uid)/enrollments/$(courseId))) || (request.auth != null && isAdmin(request.auth.uid));
      allow write: if request.auth != null && isAdmin(request.auth.uid);
    }

    match /skills/{skillId}/classDetails/details {
      allow get: if (request.auth != null && exists(/databases/$(database)/documents/users/$(request.auth.uid)/enrollments/$(skillId))) || (request.auth != null && isAdmin(request.auth.uid));
      allow write: if request.auth != null && isAdmin(request.auth.uid);
    }

    // User-specific data
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && (request.auth.uid == userId || isAdmin(request.auth.uid));
    }
    
    // Admin-only collections
    match /privates/{userId} {
        allow read, write: if request.auth != null && isAdmin(request.auth.uid);
    }
    // Website requests can be created by anyone, but only managed by admins
    match /website_requests/{requestId} {
       allow read, write: if request.auth != null && isAdmin(request.auth.uid);
       allow create: if true;
    }

    // Promo codes can only be managed by admins
    match /promo_codes/{codeId}/{document=**} {
       allow read, write: if request.auth != null && isAdmin(request.auth.uid);
    }
  }
}
