
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isAdmin() {
      // An admin user is identified by their specific email address.
      // This requires the admin to be logged into Firebase with this email.
      return request.auth != null && request.auth.token.email == 'mayanksharma4174@gmail.com';
    }

    match /showcase/{showcaseId} {
      allow read, list: if true;
      allow write: if isAdmin();
    }
    match /courses/{courseId} {
      allow read, list: if true;
      allow write: if isAdmin();
    }
     match /skills/{skillId} {
      allow read, list: if true;
      allow write: if isAdmin();
    }
    match /hardware/{hardwareId} {
      allow read, list: if true;
      allow write: if isAdmin();
    }
    match /settings/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /courses/{courseId}/classDetails/details {
      allow get: if (request.auth != null && exists(/databases/$(database)/documents/users/$(request.auth.uid)/enrollments/$(courseId))) || isAdmin();
      allow write: if isAdmin();
    }

    match /skills/{skillId}/classDetails/details {
      allow get: if (request.auth != null && exists(/databases/$(database)/documents/users/$(request.auth.uid)/enrollments/$(skillId))) || isAdmin();
      allow write: if isAdmin();
    }

    // User-specific data
    match /users/{userId} {
      allow list: if isAdmin();
      allow read, write: if request.auth != null && (request.auth.uid == userId || isAdmin());
      match /{document=**} {
        allow read, write: if request.auth != null && (request.auth.uid == userId || isAdmin());
      }
    }
    
    match /privates/{userId} {
        allow read, write: if false; // This collection is deprecated
    }

    match /website_requests/{requestId} {
       allow read, write, list: if isAdmin();
       allow create: if true;
    }
    
    // Allow users to create orders, and admins to manage them.
    match /orders/{orderId} {
      allow list, read, update: if isAdmin();
      allow create: if request.auth != null;
    }

    match /promo_codes/{codeId}/{document=**} {
       allow read, write: if isAdmin();
    }
  }
}
